---
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/Proyectos.astro";
import Habilidades from "../components/Habilidades.astro";
import Sobremi from "../components/Sobremi.astro";
import Visual from "../components/icons/Visual.astro";
import Educacion from "../components/Educacion.astro";
---

<Layout title="Home">
  <main class="text-white m-auto font-sans-personality">
    <section
      id="perfil"
      class="mx-auto w-full px-7 mt-10 md:w-vw-custom flex flex-col lg:flex-row md:pt-16">
      <Profile />
    </section>
    <section class="mt-20" id="proyectos">
      <Proyectos />
    </section>
  </main>
  <section
    class="w-full m-auto flex flex-col gap-10 z-10 pb-10"
    id="habilidades">
    <h2
      class="dark:text-custom-color text-black flex m-auto font-extrabold text-3xl text-center py-4 items-center">
      Habilidades
      <Visual />
    </h2>
    <Habilidades />
  </section>
  <section id="sobre-mi">
    <article
      class="flex flex-col items-center justify-center gap-8 relative z-0">
      <Sobremi />
    </article>
    <article class="mt-10 m-auto">
      <Educacion />
    </article>
  </section>
</Layout>
