---
import Layout from "../layouts/Layout.astro";
import Proyectos from "@/components/sections/Proyectos.astro";
import Profile from "@/components/sections/Profile.astro";
import Habilidades from "@/components/sections/habilidades.astro";
import SobreMi from "@/components/sections/SobreMi.astro";
import SectionContainer from "@/components/sections/SectionContainer.astro";
---

<Layout title="Carlos Dominguez - desarrollador web">
  <main>
    <section class="w-full md:max-w-4xl md:mx-auto px-6 min-h-dvh">
      <SectionContainer id="profile">
        <Profile />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <Proyectos />
      </SectionContainer>
      <SectionContainer id="habilidades">
        <Habilidades />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <SobreMi />
      </SectionContainer>
    </section>
  </main>

  <style>
    .typewriter {
      display: inline-block;
      overflow: hidden;
      padding: 0px 0px 5px 0px;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation:
        typing 3s steps(40, end) forwards,
        blink-caret 0.75s step-end infinite;
    }
    .typewriter2 {
      display: inline-block;
      overflow: hidden;
      padding: 0px 0px 5px 0px;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation:
        typing 3s steps(40, end) forwards,
        blink-caret 0.75s step-end infinite;
    }

    .typewriter:nth-of-type(2) {
      animation:
        typing 3s steps(30, end) 3s forwards,
        blink-caret 0.75s step-end infinite 3s;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  </style>
</Layout>
