---
import SectionProfile from "../components/SectionProfile.astro";
import Layout from "../layouts/Layout.astro";
import Servicios from "../components/Servicios.astro";
import Proyectos from "../components/Proyectos.astro";
import Habilidades from "../components/Habilidades.astro";
---

<Layout title="Home">
  <main class="text-white font-sans-personality">
    <SectionProfile />
    <Servicios />
    <Proyectos />
    <Habilidades />
  </main>
</Layout>
