---
import Profile from "@/components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "@/components/Slider.astro";
---

<Layout title="Portfolio de Carlos Dominguez - desarrollador web">
	<main>
		<section
			id="#profile"
			class="pt-20 md:pt-36 w-full md:max-w-2xl md:mx-auto px-6 min-h-dvh">
			<Profile />
			<Slider/>
		</section>
	</main>
</Layout>
