---
import Layout from "../layouts/Layout.astro";
import Terminal from "@/components/icons/Terminal.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Person from "@/components/icons/Person.astro";
---

<Layout title="Carlos Dominguez - desarrollador web">
  <main>
    <section
      id="#profile"
      class="w-full md:max-w-2xl md:mx-auto px-6 min-h-dvh">
      <h1
        class="text-2xl pt-20 md:pt-36 my-2 text-black font-extrabold dark:text-white">
        Hola, soy
      </h1>
      <div class="flex flex-col items-start">
        <div class="flex flex-col">
          <span
            class="text-4xl m-0 text-custom-color font-extrabold typewriter lg:text-5xl">
            Carlos
          </span>
          <span
            class="text-4xl m-0 text-custom-color font-extrabold typewriter lg:text-5x">
            Dominguez
          </span>
        </div>
      </div>
      <div class="flex items-start gap-8 my-10">
        <div
          class="image-content flex justify-start items-center size-40 md:size-56 rounded-full overflow-hidden bg-slate-400 shadow-2xl shadow-slate-400 dark:bg-[#333333] dark:shadow-slate-700">
          <img
            src="../img1.jpg"
            alt="image-person"
            class="profile-image w-full h-full object-cover"
          />
        </div>

        <div class="flex flex-col gap-y-2">
          <a
            href="mailto:dominguez5493.cd@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center mt-10 text-xs md:text-sm py-2 justify-center gap-2 px-4 md:py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
              ></path><path d="M3 6l9 6l9 -6"></path><path d="M15 18h6"
              ></path><path d="M18 15l3 3l-3 3"></path></svg
            >
            Contáctame
          </a>
          <a
            href="https://github.com/cdomdev"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center git-cont text-xs md:text-sm py-1.5 justify-center gap-2 px-4 md:py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black dark:hover:fill-black fill-black dark:fill-white group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black min-w-[7.5rem] md:min-w-[8.2rem]"
            ><svg
              viewBox="0 0 256 250"
              width="256"
              height="250"
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid">
              <path
                d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z"
              ></path>
            </svg> Github</a
          >
        </div>
      </div>

      <div class="flex flex-col pb-10">
        <p class="text-sm md:text-lg text-black dark:text-white leading-5 mb-5">
          Desarrollador web enfocado en crear interfaces amigables y eficientes,
          potenciando la experiencia de usuarios para negocios en pleno
          crecimiento.
        </p>

        <div class="flex gap-4 container-btns">
          <a
            href="/proyectos"
            class="btns-re text-slate-600 dark:text-white text-sm md:text-base flex items-center hover:scale-110 hover:text-custom-color transition-all duration-150">
            <CodeIcon /> Proyectos</a
          >
          <a
            href="/habilidades"
            class="btns-re text-slate-600 dark:text-white text-sm md:text-base flex items-center hover:scale-110 hover:text-custom-color transition-all duration-150">
            <Terminal /> Habilidades</a
          >
          <a
            href="/sobremi"
            class="btns-re text-slate-600 dark:text-white text-sm md:text-base flex items-center hover:scale-110 hover:text-custom-color transition-all duration-150">
            <Person /> Sobre mi</a
          >
        </div>
      </div>

      <style>
        .typewriter {
          display: inline-block;
          overflow: hidden;
          padding: 0px 0px 5px 0px;
          white-space: nowrap;
          margin: 0 auto;
          letter-spacing: 0.15em;
          animation:
            typing 3s steps(40, end) forwards,
            blink-caret 0.75s step-end infinite;
        }
        .typewriter2 {
          display: inline-block;
          overflow: hidden;
          padding: 0px 0px 5px 0px;
          white-space: nowrap;
          margin: 0 auto;
          letter-spacing: 0.15em;
          animation:
            typing 3s steps(40, end) forwards,
            blink-caret 0.75s step-end infinite;
        }

        .typewriter:nth-of-type(2) {
          animation:
            typing 3s steps(30, end) 3s forwards,
            blink-caret 0.75s step-end infinite 3s;
        }

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      </style>
    </section>
  </main>
</Layout>
