---
import Layout from "@/layouts/Layout.astro";
import Code from "@/components/icons/Code.astro";
import ProyectosComponent from "@/components/Proyectos.astro";
---

<Layout title="Proyctos">
    <main>
        <section id="#proyectos" class="pt-20 max-w-2xl mx-auto px-2 min-h-dvh">
            <h1
            class="text-xl md:text-2xl text-black font-bold dark:text-custom-color mb-4 flex items-center"
            >
            <Code/>
                Proyectos
            </h1>
            <ProyectosComponent />
        </section>
    </main>
</Layout>
