<div class="flex flex-col w-full border mt-7">
  <div class="flex justify-between">
    <dix><p class="text-black">texto1</p></dix>
    <dix> <hr class="font-bold border" /></dix>
    <dix> <p class="text-black">texto2</p></dix>
  </div>
  <!-- <div>
    <dix><p class="text-black">texto</p></dix>
    <dix> <hr /></dix>
    <dix> <p class="text-black">texto</p></dix>
  </div>
  <div>
    <dix><p class="text-black">texto</p></dix>
    <dix> <hr /></dix>
    <dix> <p class="text-black">texto</p></dix>
  </div> -->
</div>
