<div
  class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <ol class="relative mt-16">
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
      >
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="dark:text-custom-color text-black -left-[42px] absolute rounded-full text-5xl"
              ><font style="vertical-align: inherit;"
                ><font style="vertical-align: inherit;">•</font></font
              ></span
            >
            <h3 class="text-xl text-black dark:text-white font-bold">
              Analisis y desarollo de software
            </h3>
            <span class="dark:text-white text-black"
              >Servicio nacional de aprendizaje SENA</span
            >
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
              >Actualmente...</time
            >
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
        >
          En la trayectoria de esta formacion se incluyó un enfoque integral en
          la captura y análisis de requisitos, con el objetivo de ofrecer
          soluciones tecnológicas innovadoras, Mi enfoqué es desarrollar
          productos que se ajusten a las necesidades del cliente, implementando
          metodologías ágiles para asegurar la eficiencia y adaptabilidad.
        </div>
      </div>
    </li>
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="dark:text-custom-color text-black -left-[42px] absolute rounded-full text-5xl"
            ><font style="vertical-align: inherit;"
              ><font style="vertical-align: inherit;">•</font></font
            ></span
          >
          <h3 class="text-xl font-bold text-black dark:text-white">
            <font style="vertical-align: inherit;"
              ><font style="vertical-align: inherit;">Cursos cortos</font></font
            >
          </h3>
          <h4 class="text-sm text-gray-600 dark:text-white">
            <ul class="list-disc pl-5 text-black dark:text-white mt-1 text-sm">
              <li>Coursera</li>
              <li>OpenBootcamp</li>
              <li>Udemy</li>
            </ul>
          </h4>
          <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
            >Septiembre 2022</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
      >
        Durante el desarrollo de estos cursos, adquirí una comprensión sólida de
        los fundamentos de programación y del desarrollo de aplicaciones web.
        Estos conocimientos me permitieron abordar proyectos con una perspectiva
        más técnica y orientada a soluciones.
      </div>
    </div>
  </ol>
</div>
