<article class="mt-10">
  <h4 class="text-2xl text-center text-custom-color md:text-3xl">Estudios</h4>
  <div class="flex flex-col justify-center w-screen h-auto -mt-7 pt-20 gap-6">
    <div class="flex items-center justify-center gap-8">
      <div
        class="p-5 h-auto flex flex-col w-96 text-left border-inherit rounded-2xl shadow-2xl shadow-slate-700 hover:shadow-slate-800 transition-shadow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-api-app stroke-white mx-auto my-1 drop-shadow-custom"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#2c3e50"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 15h-6.5a2.5 2.5 0 1 1 0 -5h.5"></path>
          <path d="M15 12v6.5a2.5 2.5 0 1 1 -5 0v-.5"></path>
          <path d="M12 9h6.5a2.5 2.5 0 1 1 0 5h-.5"></path>
          <path d="M9 12v-6.5a2.5 2.5 0 0 1 5 0v.5"></path>
        </svg>
        <span class="font-extrabold text-lg my-3 text-slate-300 text-center"
          >Aplicaciones que domino con fluidez</span
        >
        <p class="text-slate-300 text-sm">
          Todo diseñador necesita las herramientas adecuadas para crear el
          producto perfecto. Afortunadamente, soy competente en varias
          plataformas:
        </p>
        <ul class="list-disc pl-5 text-slate-300 mt-1 text-sm">
          <li>Bosquejo</li>
          <li>Flujo web</li>
          <li>Figma</li>
        </ul>
      </div>
      <span class="w-4 h-4 text-black rounded-full bg-white p-3"></span>
      <div class="text-black">otro dato</div>
    </div>
    <div class="flex items-center justify-center">
      <hr class="border border-gray-50 w-10 transform rotate-90 -mr-5" />
    </div>
    <div class="flex items-center justify-center gap-8">
      <div class="text-black">otro dato</div>
      <span class="w-4 h-4 text-black rounded-full bg-white p-3"></span>
      <div
        class="p-5 h-auto flex flex-col w-96 text-left border-inherit rounded-2xl shadow-2xl shadow-slate-700 hover:shadow-slate-800 transition-shadow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-api-app stroke-white mx-auto my-1 drop-shadow-custom"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#2c3e50"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 15h-6.5a2.5 2.5 0 1 1 0 -5h.5"></path>
          <path d="M15 12v6.5a2.5 2.5 0 1 1 -5 0v-.5"></path>
          <path d="M12 9h6.5a2.5 2.5 0 1 1 0 5h-.5"></path>
          <path d="M9 12v-6.5a2.5 2.5 0 0 1 5 0v.5"></path>
        </svg>
        <span class="font-extrabold text-lg my-3 text-slate-300 text-center"
          >Aplicaciones que domino con fluidez</span
        >
        <p class="text-slate-300 text-sm">
          Todo diseñador necesita las herramientas adecuadas para crear el
          producto perfecto. Afortunadamente, soy competente en varias
          plataformas:
        </p>
        <ul class="list-disc pl-5 text-slate-300 mt-1 text-sm">
          <li>Bosquejo</li>
          <li>Flujo web</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <hr class="border border-gray-300 w-10 transform rotate-90 -mr-5" />
    </div>
    <div class="flex items-center justify-center gap-8">
      <div
        class="p-5 h-auto flex flex-col w-96 text-left border-inherit rounded-2xl shadow-2xl shadow-slate-700 hover:shadow-slate-800 transition-shadow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-api-app stroke-white mx-auto my-1 drop-shadow-custom"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#2c3e50"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 15h-6.5a2.5 2.5 0 1 1 0 -5h.5"></path>
          <path d="M15 12v6.5a2.5 2.5 0 1 1 -5 0v-.5"></path>
          <path d="M12 9h6.5a2.5 2.5 0 1 1 0 5h-.5"></path>
          <path d="M9 12v-6.5a2.5 2.5 0 0 1 5 0v.5"></path>
        </svg>
        <span class="font-extrabold text-lg my-3 text-slate-300 text-center"
          >Aplicaciones que domino con fluidez</span
        >
        <p class="text-slate-300 text-sm">
          Todo diseñador necesita las herramientas adecuadas para crear el
          producto perfecto. Afortunadamente, soy competente en varias
          plataformas:
        </p>
        <ul class="list-disc pl-5 text-slate-300 mt-1 text-sm">
          <li>Bosquejo</li>
          <li>Flujo web</li>
          <li>Figma</li>
        </ul>
      </div>
      <span class="w-4 h-4 text-black rounded-full bg-white p-3"></span>
      <div class="text-black">otro dato</div>
    </div>
  </div>
</article>
