<footer class="bg-white dark:bg-[#0b0b16] fixed bottom-0 w-full">
  <div
    class="rounded-lg w-vw-custom max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© 2024 Casi todos los derechos reservados - porfolio de referencia <a
        href="https://github.com/midudev/porfolio.dev"
        class="hover:underline"> midudev</a
      >
    </span>

    <div
      class="flex flex-wrap items-center mt-3 text-black text-sm font-medium dark:text-white/90 sm:mt-0">
      <a
          id="contacto"
          href="https://wa.me/573208132304"
          target="_blank"
          class="hover:underline flex items-center gap-1 hover:text-slate-500 cursor-pointer"
          >Contáctame 
        </a>
    </div>
  </div>
</footer>
