---
import Git from "./icons/Git.astro";
import GithubSkill from "./icons/GihubSkills.astro";
import Postgre from "./icons/Postgre.astro";
import Mysql from "./icons/Mysql.astro";
import Node from "./icons/Node.astro";
import Express from "./icons/Express.astro";
import Js from "./icons/Js.astro";
import Sass from "./icons/Sass.astro";
import Tallwind from "./icons/Tallwind.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import React from "./icons/React.astro";
---


<div class="m-auto flex flex-col">
  <h3 class="text-white font-semibold text-xl  text-center">Front-end</h3>
  <hr class="m-0" />
  <div class="flex m-auto flex-wrap gap-8 justify-center">
    <Html />
    <Css />
    <Js />
    <React />
    <AstroIcon />
    <Bootstrap />
    <Tallwind />
    <Sass />
  </div>
</div>
<div>
  <hr
    class="border border-gray-300 w-80 transform rotate-90 mx-auto -mt-52 md:-mt-0 md:w-16"
  />
</div>
<div class="m-auto flex flex-col">
  <h3 class="text-white text-center font-semibold text-xl">Back-end</h3>
  <hr class="m-0" />
  <div class="flex m-auto flex-wrap gap-8 justify-center">
    <Js />
    <Node />
    <Express />
  </div>
</div>
<div>
  <hr
    class="border border-gray-300 w-16 transform rotate-90 mx-auto md:-mt-0 md:w-16"
  />
</div>
<div class="m-auto flex flex-col">
  <h3 class="text-white text-center font-semibold text-xl">Otros</h3>
  <hr class="m-0" />
  <div class="flex m-auto flex-wrap gap-8 justify-center">
    <Mysql />
    <Postgre />
    <Git />
    <GithubSkill />
  </div>
</div>

<style>
  .icon-tabler-brand-visual-studio {
    width: 45px;
    height: 45px;
  }
</style>
