---
import Git from "./icons/Git.astro";
import GithubSkill from "./icons/GihubSkills.astro";
import Postgre from "./icons/Postgre.astro";
import Mysql from "./icons/Mysql.astro";
import Node from "./icons/Node.astro";
import Express from "./icons/Express.astro";
import Js from "./icons/Js.astro";
import Sass from "./icons/Sass.astro";
import Tallwind from "./icons/Tallwind.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import React from "./icons/React.astro";
---

<div class="m-auto flex flex-col">
  <h3 class="dark:text-white text-black font-semibold text-xl text-center">
    Front-end
  </h3>
  <div
    class="flex m-auto px-3 w-full flex-wrap gap-8 justify-center md:w-vw-custom mt-4 md:px-10">
    <Html />
    <Css />
    <Js />
    <React />
    <AstroIcon />
    <Tallwind />
    <Sass />
  </div>
</div>

<div class="m-auto flex flex-col">
  <h3 class="dark:text-white text-black text-center font-semibold text-xl">
    Back-end
  </h3>
  <div
    class="flex m-auto w-full flex-wrap gap-8 justify-center md:w-vw-custom mt-4">
    <Js />
    <Node />
    <Express />
  </div>
</div>

<div class="m-auto flex flex-col">
  <h3 class="dark:text-white text-black text-center font-semibold text-xl">
    Otros
  </h3>
  <div
    class="flex m-auto w-full flex-wrap gap-8 justify-center md:w-vw-custom mt-4">
    <Mysql />
    <Postgre />
    <Git />
    <GithubSkill />
  </div>
</div>
