<section
  class="p-4 md:flex max-w-full mt-10 justify-center items-center mx-auto font-sans-personality profile m-auto md:justify-center md:pt-4 md:flex-col md:mt-24 md:w-vw-custom lg:w-vw-custom lg:p-12 lg:justify-between lg:my-12 lg:flex-row lg:pt-32">
  <div class="md:w-vw-custom">
    <h1 class="text-2xl my-2 font-extrabold">Hello, I am</h1>
    <div class="flex flex-col gap-0 items-start lg:items-start">
      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-chevron-left pl-0 w-12 h-12 md:w-16 md:h-16"
          width="65"
          height="65"
          viewBox="0 1 23 22"
          stroke-width="1.8"
          stroke="#70FF00"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M18 6l-6 6l6 6"></path>
        </svg>
        <span
          class="text-5xl m-0 text-custom-color typewriter font-bold lg:text-7xl md:text-6xl">
          Carlos
        </span>
      </div>
      <div class="flex items-center mb-2 md:mb-3 lg:mb-0">
        <span
          class="text-5xl m-0 text-custom-color typewriter font-bold md:text-6xl lg:text-7xl">
          Dominguez
        </span>
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-combined w-16 h-16 md:w-32 md:h-32 md:pl-0"
            width="130"
            height="65"
            viewBox="0 0 48 24"
            stroke-width="1.8"
            stroke="#70FF00"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h48v24H0z" fill="none"></path>
            <path d="M15 5l-10 14"></path>
            <path d="M20 6l6 6l-6 6"></path>
          </svg>
        </div>
      </div>
    </div>
    <div>
      <p class="text-lg">
        ¡Hola! Soy Carlos, un desarrollador web fullstack. Creo interfaces
        fáciles de usar para empresas emergentes de rápido crecimiento.
      </p>
      <div class="flex gap-6 mt-2">
        <a
          class="github flex items-center gap-2 text-lg border border-sky-100 py-1 px-3 rounded-md"
          href="https://github.com/cdomdev"
          target="_blank">
          <div class="rounded-full bg-white text-black gap-3 flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-github icon-tabler icon-tabler-brand-github-filled"
              width="30"
              height="30"
              viewBox="0 -1.5 24 24"
              stroke-width="1.5"
              stroke="#2c3e50"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
          </div>
          <p>Github</p>
        </a>
        <a
          class="flex gap-2 text-lg border border-sky-50 py-1 px-3 rounded-md"
          href="https://wa.me/573208132304"
          target="_blank">
          <div class="flex items-center hover:text-slate-400 duration-200">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-whatsapp mr-1 stroke-custom-color"
              width="35"
              height="35"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#FFFFFF"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
              <path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path>
              <p class="text-lg">Contact me</p>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full h-full relative mt-10">
    <div
      class="image-content flex justify-center items-center w-96 h-80 rounded-full overflow-hidden bg-shadow-color shadow-custom md:h-96">
      <img
        src="../images/person.png"
        alt="image-person"
        class="profile-image w-full h-full object-cover"
      />
    </div>
    <div
      class="icon-img absolute bg-custom rounded-full p-1 top-icon top-1 right-0 md:right-36 lg:right-0 xl:right-20">
      <img src="../images/nd.png" alt="node" class="w-full h-full m-auto" />
    </div>
    <div
      class="icon-img absolute bg-custom rounded-full w-20 p-1 bottom-10 left-0 md:left-36 lg:left-4 xl:left-20">
      <img src="../images/react.png" alt="react" class="m-auto w-full h-full" />
    </div>
    <div
      class="icon-img absolute bg-custom rounded-full w-20 bottom-0 right-5 p-4 md:right-40 lg:bottom-3 lg:right-10 xl:right-20">
      <img src="../images/ts.png" alt="ts" class="w-full h-full" />
    </div>
  </div>
</section>

<style>
  .typewriter {
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 5px 0px;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation:
      typing 3s steps(30, end) forwards,
      blink-caret 0.75s step-end infinite;
  }

  .typewriter:nth-of-type(2) {
    animation:
      typing 3s steps(30, end) 3s forwards,
      blink-caret 0.75s step-end infinite 3s;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
</style>
