---
import SkillCard from "@/components/SkillCard.astro";
import Html from "@/components/icons/Html.astro";
import At from "./icons/At.astro";
import Git from "./icons/Git.astro";
import Ghub from "./icons/Ghub.astro";
import Css from "./icons/Css.astro";
import Js from "./icons/Js.astro";
import Msq from "./icons/Msq.astro";
import Nd from "./icons/Nd.astro";
import Tw from "./icons/Tw.astro";
import Rc from "./icons/Rc.astro";
import Ex from "./icons/Ex.astro";
import Ss from "./icons/Ss.astro";
import Sqle from "@/components/icons/Sqle.astro";

const skilss = [
    {
        text: "Html",
        icon: Html,
    },
    {
        text: "Css",
        icon: Css,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "ReactJs",
        icon: Rc,
    },
    {
        text: "Astro",
        icon: At,
    },
    {
        text: "TailwindCss",
        icon: Tw,
    },
    {
        text: "Sass",
        icon: Ss,
    },
    {
        text: "Html",
        icon: Html,
    },
    {
        text: "Css",
        icon: Css,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "ReactJs",
        icon: Rc,
    },
    {
        text: "Astro",
        icon: At,
    },
    {
        text: "TailwindCss",
        icon: Tw,
    },
    {
        text: "Sass",
        icon: Ss,
    },
    {
        text: "Html",
        icon: Html,
    },
    {
        text: "Css",
        icon: Css,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "ReactJs",
        icon: Rc,
    },
    {
        text: "Astro",
        icon: At,
    },
    {
        text: "TailwindCss",
        icon: Tw,
    },
    {
        text: "Sass",
        icon: Ss,
    },
    {
        text: "Html",
        icon: Html,
    },
    {
        text: "Css",
        icon: Css,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "ReactJs",
        icon: Rc,
    },
    {
        text: "Astro",
        icon: At,
    },
    {
        text: "TailwindCss",
        icon: Tw,
    },
    {
        text: "Sass",
        icon: Ss,
    },
    {
        text: "Html",
        icon: Html,
    },
    {
        text: "Css",
        icon: Css,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "ReactJs",
        icon: Rc,
    },
    {
        text: "Astro",
        icon: At,
    },
    {
        text: "TailwindCss",
        icon: Tw,
    },
    {
        text: "Sass",
        icon: Ss,
    },
];

const skillssBack = [
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
    {
        text: "JavaScript",
        icon: Js,
    },
    {
        text: "Node",
        icon: Nd,
    },
    {
        text: "Express",
        icon: Ex,
    },
    {
        text: "MySql",
        icon: Msq,
    },
    {
        text: "Sequilize",
        icon: Sqle,
    },
    {
        text: "Git",
        icon: Git,
    },
    {
        text: "Ghub",
        icon: Ghub,
    },
];
---

<div class="flex flex-col gap-4 my-4">
    <div class="slider">
        <div class="slide-track">
            {
                skilss.map((skill) => (
                    <SkillCard text={skill.text} icon={skill.icon} />
                ))
            }
        </div>
    </div>
    <div class="slider-reverse">
        <div class="slide-track">
            {
                skillssBack.map((skill) => (
                    <SkillCard text={skill.text} icon={skill.icon} />
                ))
            }
        </div>
    </div>
</div>

<style>
    .slider {
        width: 100%;
        margin: auto;
        height: auto;
        overflow: hidden;
        padding: 0px 20px;
        border-radius: 15px;
    }
    .slider-reverse {
        width: 100%;
        margin: auto;
        height: auto;
        overflow: hidden;
        padding: 0px 20px;
        border-radius: 5px;
    }
    .slider .slide-track {
        gap: 10px;
        margin: 10px 0px;
        display: flex;
        animation: scroll 100s linear infinite;
        -webkit-animation: scroll 100s linear infinite;
        width: calc(200px * 16);
    }

    .slider-reverse .slide-track {
        gap: 10px;
        padding: 0px;
        display: flex;
        animation: scrollReverse 100s linear infinite;
        -webkit-animation: scrollReverse 100s linear infinite;
        width: calc(200px * 16);
    }
    .slider-reverse .slide {
        width: 200px;
    }
    .slider-reverse .slide svg {
        width: 100%;
    }
    .slider .slide {
        width: 200px;
    }
    .slider .slide svg {
        width: 100%;
    }

    @keyframes scrollReverse {
        100% {
            transform: translateX(0);
            -webkit-animation: translateX(0);
        }
        0% {
            transform: translateX(-100%);
            -webkit-animation: translateX(-100%);
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
            -webkit-animation: translateX(0);
        }
        100% {
            transform: translateX(-100%);
            -webkit-animation: translateX(-100%);
        }
    }
</style>
